* {
  margin: 0;
  padding: 0;
}
#main {
  width: 550px;
  margin: 0 auto;
  position: relative;
  left: -65px;
}
nav {
  float: left;
  width: 130px;
  padding-top: 20px;
}
nav ul {
  width: 139px;
  text-align: right;
  list-style-type: none;
  /*
		ul {
			padding-right: 0;
			display: none;
			width: @w2;
			float: right;
			margin-left: -@w1;
			text-align: left;
			position: relative;
			left: @w2 + @padding - @menusize / 2;
			li {
				padding-left: @menusize;
				padding-right: @menusize / 2;
			}
		}
		*/

}
nav ul li {
  padding-right: 29px;
}
nav ul li.current ul {
  display: block;
}
article {
  float: right;
  width: 420px;
  padding: 20px 0;
}
article p {
  margin-left: 20px;
  margin-right: 20px;
}
article p + p {
  margin-top: 20px;
}
footer {
  margin: 0 auto 40px auto;
  text-align: center;
}
.font-trebuchet {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.font-gill-sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
article {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 11px;
  line-height: 13px;
}
article h1,
article h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 18px;
  line-height: 13px;
  font-weight: normal;
  margin: 10px 20px 3px 20px;
}
article h1:first-child,
article h2:first-child {
  margin-top: 0;
}
nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
html {
  background: black;
  color: white;
}
body {
  position: relative;
}
#banner-extension {
  margin-right: 50%;
  background: url(../img/banner_extension.png);
  height: 160px;
  position: relative;
  /* for z-index */

  z-index: -5;
}
#wrapper {
  position: absolute;
  left: 50%;
}
#wrapper #banner {
  position: relative;
  margin-left: -50%;
  margin-top: -160px;
  height: 160px;
  width: 1428px;
  /* background: url(../img/banneri.png);*/

  background-repeat: no-repeat;
  z-index: -2;
}
#wrapper #content-wrapper {
  position: relative;
  width: 550px;
  margin-left: -340px;
}
#wrapper #content-wrapper #main {
  background: white;
}
#main {
  background: url(../img/main_bg.png);
}
nav ul a {
  color: white;
  text-decoration: none;
}
nav ul a:hover {
  color: red;
  cursor: pointer;
}
nav ul .current {
  background-image: url(../img/diamond_base.png);
  background-size: 18px 36px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
nav ul ul {
  color: black;
  text-transform: lowercase;
}
nav ul ul a {
  color: black;
}
nav ul ul .current {
  background-image: url(../img/diamond.png);
  background-size: 18px 18px;
  background-position: 0 0;
}
nav ul ul .current a {
  color: red;
}
article {
  background: white;
  color: black;
}
article a {
  color: red;
}
article .fancybox img {
  border: 0;
  padding: 20px;
}
footer a {
  padding-left: 130px;
  color: red;
  text-decoration: none;
}
#team div {
  width: 50%;
  height: 70%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
#team #kgb {
  background-position: bottom left;
  left: 0;
  background-image: url('../img/team_kgb-1000x.png');
}
#team #cia {
  background-position: bottom right;
  right: 0;
  background-image: url('../img/team_cia-1000x.png');
}
