* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
header {
  height: 200px;
}
#main {
  width: 620px;
  margin: -40px auto 0px auto;
}
nav {
  float: left;
  width: 200px;
  margin-left: -220px;
  text-align: right;
  margin-right: 20px;
  padding-top: 20px;
}
nav ul {
  list-style-type: none;
}
article {
  width: 420px;
  padding-top: 20px;
  padding-bottom: 20px;
}
article p {
  margin-left: 20px;
  margin-right: 20px;
}
article p + p {
  margin-top: 20px;
}
footer {
  width: 420px;
  margin: 0 auto 40px auto;
}
.font-trebuchet {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.font-gill-sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
article {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 11px;
  line-height: 13px;
}
article h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 18px;
  line-height: 13px;
  margin: 10px 20px 3px 20px;
}
article h2:first-child {
  margin-top: 0;
}
nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-variant: small-caps;
}
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
body {
  background: black;
  color: white;
}
header {
  background: url(../img/banneri.jpg);
}
article {
  background: white;
  color: black;
}
article a {
  color: red;
}
footer a {
  color: red;
}
