// Mini-reset

* {
	margin: 0;
	padding: 0;
}

// Layout

// | #000 | #fff | #fff |
// | nav1 | nav2 | text |
// |  w1  |  w2  |  w3  | 

@w1: 140px;
@w2: 130px;
@w3: 290px;
@total-width: @w1 + @w2 + @w3;

body {
	padding: 160px 0;
}

#content {
	width: @total-width;
	margin: 0 auto;

	position: relative;
	left: -0.5 * @w1;
}

nav {
	float: left;
	width: @w1 + @w2;

	padding-top: 20px;
	ul {
		li {
			padding-right: 20px;
		}
		width: @w1;
		text-align: right;
		list-style-type: none;

		li.current ul {
			display: block;
		}
		ul {
			padding-right: 0;
			display: none;
			width: @w2;
			float: right;
			margin-left: -@w1;
			text-align: left;
			position: relative;
			left: @w2 + 20px + 10px;
		}
	}
}

article {
	float: right;

	width: @w3;
	padding: 20px 0;

	p {
		margin-left: 20px;
		margin-right: 20px;
	}
	p + p {
		margin-top: 20px;
	}
}

footer {
	margin: 0 auto 40px auto;
	text-align: center;
}

// Typography

.font-trebuchet {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.font-gill-sans {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

article {
	.font-trebuchet;
	font-size: 11px;
	line-height: 13px;

	h2 {
		.font-gill-sans;
		font-size: 18px;
		line-height: 13px;
		font-weight: normal;
		@lowmargin: 3px;
		margin: (13px - @lowmargin) 20px @lowmargin 20px;
		&:first-child {
			margin-top: 0;
		}
	}
}

nav {
	.font-gill-sans;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 1px;

	text-transform: uppercase;
}

footer {
	.font-gill-sans;
	font-size: 16px;
	line-height: 18px;
}

// Colors & decoration

html {
	background: black;
	color: white;
}

body {
	background: url(../img/banneri.png);
	background-position: center top;
	background-repeat: no-repeat;
}

header {
	background: url(../img/banneri.png);
	background-position: center 0px;
}

#content {
	background: url(../img/main_bg.png);
}

nav ul {
	a:hover {
		color: red;
	}

	.current > a {
		color: red;
	}

	ul {
		color: black;
		background: white;
		text-transform: lowercase;
	}
}

article {
	background: white;
	color: black;
	a {
		color: red;
	}
}

footer a {
	color: red;
}

